.sweet {
    width: 1303px;
    height: 0px;
    background:#00203FFF;
    color: #fff;
    padding: 50px 40px;
    position: absolute;
    top: 0;
    left:0;
}
.lohead{
    margin-top:'-100px';

}

