.sweet {
    width: 1318px;
    height: 0px;
    background: rgb(10, 10, 10);
    color: #fff;
    padding: 50px 40px;
    position: absolute;
    top: 0;
    left:0;
}
.lohead{
    margin-top:'-100px';
}
