.boat-type-container {
  display: flex;
  justify-content: space-between;
  
}


.bookwraps1 {
  width: 600px;
  height: 350px;
  background: #00203FFF;
  position: absolute; 
  top: 130px; 
  right: 40px;
  border-radius: 10px;
  padding: 30px 40px;
}
.bookwraps {
  width: 600px;
  background: #00203FFF;
  position: absolute; 
  top: 130px; 
  left: 40px;
  border-radius: 10px;
  padding: 30px 40px;
}
.bookwraps2 {
  width: 600px;
  background: #00203FFF;
  position: absolute; 
  top: 500px; 
  left: 40px;
  border-radius: 10px;
  padding: 30px 40px;
}
.bookwraps3 {
  width: 600px;
  background: #00203FFF;
  position: absolute; 
  top: 500px; 
  right: 40px;
  border-radius: 10px;
  padding: 30px 40px;
}
.booknowbut {
  position: relative;
  top: 10px; 
  
}

.booknowbut .bobut{
  background-color: white;
  color: black !important;
  
}